extends main.pug

block content
   #App
   script(type="text/javascript" src='http://' + locals.assets_url + '/App.bundle.js')
   script(type="text/javascript") window.max = '!{locals.assets_url}';
   script(type="text/javascript") console.log('assets', '!{locals.assets_url}');
