.selectedToast {
   position: fixed;
   bottom: 0px;
   right: 0px;
   background-color: #26a69a;
   color: white;
   border: 1px solid #DDDDDD;
   padding: 15px;
   z-index: 100000;
}

@media only screen and (max-width: 600px) {
   .selectedToast {
      width: 100%;
   }
}

@media only screen and (min-width: 600px) {
   .selectedToast {
      width: 33%;
   }
}

.collapsible-header {
   margin-top: 0px;
   margin-bottom: 0px;
}

.collapsible-body {
   padding-top: 8px;
}

/* fun idea, not really worth */
.hover-test {
   display: none !important;
}

.hover-first:hover > .hover-test {
   display: inline !important;
}

.trash {
   cursor: pointer;
}

.trash:hover {
   color: #F23755;
}
